
@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Display Person Info</title>
</head>
<body>
    <h1>Person Information</h1>
    <p></p>
</body>
</html>
